import os
from pymongo import MongoClient

TOKEN = 'telegram token'

MONGODB_USER = 'user'
MONGODB_PASS = 'password'
MONGODB_DB = 'db'

if 'OPENSHIFT_REPO_DIR' in os.environ:
    MONGODB_HOST = str(os.environ['OPENSHIFT_MONGODB_DB_HOST'])
    MONGODB_PORT = int(os.environ['OPENSHIFT_MONGODB_DB_PORT'])

else:
    MONGODB_HOST = 'localhost'
    MONGODB_PORT = 27017

mongodb = MongoClient(MONGODB_HOST, MONGODB_PORT)[MONGODB_DB]
mongodb.authenticate(MONGODB_USER, MONGODB_PASS)
